<%- include('./templates/header.ejs') %>

<main>
    <h1><%= error %></h1>
    <h2 class="center"><%= msg %></h2>
</main>
<p><a href="javascript:history.go(-1)">Volver atrás</a></p>
<%- include('./templates/footer.ejs') %>