<nav>
    <ul>
      <li><a href="../">Inicio</a></li>
      <li><a href="/servicios">Mis Servicios</a></li>
      <li><a href="/static">Servicios estáticos</a></li>
      <li><a href="/dinamic">Servicios dinámicos</a></li>
    </ul>
  </nav>