* {
    margin: 0px;
    text-align: center;
    font-family: monospace;
    color: rgb(49, 37, 2);
    background-color: aliceblue;
}

body {
    position: relative;
    min-height: 600px;

}

header {
    background-color: rgb(11, 76, 29);
    height: 160px;
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
}

nav>ul>li {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
}

li>a {
    font-size: larger;
    font-weight: bolder;
    font-size: 16px;
    transition: all 0.2s ease-in-out;


}


li>a:hover {
    font-size: 18px;
    text-shadow: 0 0 5px #00ff00;
}

footer {
    background-color: rgb(11, 76, 29);
    height: 100px;
    width: 100%;
}

h2 {
    text-align: left;
}

.right {
    font-size: 1.25em;
    font-weight: bolder;
    text-align: right;
}

.servicios {
    border: 1px solid black;
    margin: 10px;
    box-shadow: 0 0 10px #044004;
}

#titulo {
    height: 28px;
    width: 418px;
}

#descripcion {
    height: 190px;
    width: 417px;
}

button {
    border-radius: 25px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

input,
textarea {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #034c03;
    margin: 20px;
}

.logonodeentrada {
    width: 140px;
    height: 83px;
}